/* -----------------------------------------------------------------------------
   Define your color palette over here.
   -------------------------------------------------------------------------- */
$global-colors: (
    "black": #000,
    "denim": #1c65d9,
    "tuatara": #3c3c3b,
    "dusty-tuatara": #9c9c9c,
    "silver": #c8c8c8,
    "alto": #e0e0e0,
    "japanese-laurel": #06a20d,
    "purple-heart": #673ab7,
    "red-orange": #f33,
    "white": #fff,
    "saffron": #fac135
);


/* -----------------------------------------------------------------------------
   Color associations.
   -------------------------------------------------------------------------- */
$global-color-associations: (
    "background-primary": _color("tuatara"),
    "background-secondary": _color("alto"),
    "background-tertiary": _color("white"),
    "button-default-text": _color("black"),
    "button-default": _color("silver"),
    "button-primary": _color("tuatara"),
    "button-primary-text": _color("white"),
    "error-primary": _color("red-orange"),
    "headline-primary": _color("tuatara"),
    "success-primary": _color("japanese-laurel"),
    "text-primary-disabled": _color("dusty-tuatara"),
    "text-primary-inverted": _color("white"),
    "text-primary": _color("black"),
    "warning-primary": _color("saffron")
);


/* -----------------------------------------------------------------------------
   Typography.
   -------------------------------------------------------------------------- */
$global-fonts: (
    "primary-font-family": (Tahoma, Verdana, Segoe, sans-serif),
    "primary-font-size": 16px,
    "primary-line-height": 1.5rem,
    "text-primary-rendering": optimizeLegibility,
    "secondary-font-family": (Georgia, Times, Times New Roman, serif)
);


/* -----------------------------------------------------------------------------
   Resolution relative settings. Excerpt from Google web fundamentals:

   - Create breakpoints based on content, never on specific devices, products,
     or brands.
   - Design for the smallest mobile device first, then progressively enhance
     the experience as more screen real estate becomes available.
   - Keep lines of text to a maximum of around 70 or 80 characters.

   https://goo.gl/EDZOAH
   -------------------------------------------------------------------------- */
$global-breakpoints: (
    "mobile-s": 20rem,       // 320px
    "mobile-m": 23.4375rem,  // 375px
    "mobile-l": 26.5625rem,  // 425px
    "tablet": 48rem,         // 768px
    "laptop": 64rem,         // 1024px
    "laptop-l": 90rem,       // 1440px
    "4k": 160rem             // 2560px
);


/* -----------------------------------------------------------------------------
   Global grid.
   -------------------------------------------------------------------------- */
$global-grid: (
    "vertical-base": _font("primary-line-height"),
    "total-columns": 12,
    "gutter-width": 1.5rem,  // 24px
    "max-width": 72.5rem     // 1160px
);


/* -----------------------------------------------------------------------------
   Z-index listing.
   -------------------------------------------------------------------------- */
$global-z-layers: (
    "default": 0,
    "overlay": 100,
    "debug": 500
);
