html , body
 { 
     height: 100%; 
    margin: 0; 
}


$scheme: 'dark';
$darkbg: #eee;
$featurewidth: 350px;


body {
    display: flex;
    
}

#features {
    //position: absolute;
    position: relative;
    //float:left;
    top: 0;
    right: 0;
    bottom: 0;
    width: $featurewidth;
    overflow: auto;
    @if $scheme == 'light' {
        background: rgba(255, 255, 255, 0.8);
    } @else {
        background: $darkbg;
    }
}    


#mapcontainer {
    height: 100%;
    //width: 100%;
    overflow: auto;
    flex-grow: 1;
    position:relative;
}
#map, #mapoverlay {
    position:absolute;
    //width:calc(100% - 350px);
    width:100%;
    height:100%;
}

//#mapoverlay { display: none; }

#map {
    //position: relative;
}

#mapoverlay {
    position: absolute;
    // Might be better to move this whole contents into map.getCanvasContainer()
    pointer-events: none;
    overflow:hidden; // because...I don't know why.
}

// inside #mapoverlay
#caption, #footer {
    //position: relative;
    position:absolute;
    width:100%;//800px; //$captionwidth;
    margin: 0 auto;
}

#caption h1 {
    background: hsla(0, 0%, 0%, 0.5);
    padding:0.5em 0.5em;
}

#footer {
    position: absolute;
    bottom: 34px;
    width:100%;
}

$captionwidth: 800px;

#caption {
    //top: 1em;
    bottom: 100px;
    padding:1em;
    //border: 1px solid lightgray;
    /*    
    @if $scheme == 'light' {
        background:hsla(0,0,100%,0.8);
        box-shadow: 0px 0px 4px 4px white;
    } @else {
        background: $darkbg;
    }
    */
    background: transparent;
    margin-left: 0;
    transition:min-height 2s;
    min-height:3em;
}

#caption.supercaption {
    min-height:15em;
    height:15em;
    //border:1px solid lightgrey;
    background:rgba(0,0,0,0.5);
    top:calc(50vh - 7.5em);
}

#caption.supercaption h1 {
    background:transparent;
    margin-top: auto; margin-bottom:auto;
}

#footer .dataset {
    color: #eee;
    font-family: GothamThin;
    font-size: 16px;
    margin-left:34px;
    margin-bottom:0.5em;
}

#footer .url {
    color: rgb(0,183,79); // CoM Pop Green
    font-family: CoM;
    font-size: 34px;
    margin-left:34px;
}




#caption h1 {
    /*font-size:1rem;
    line-height:1.5rem;
    text-align:center;*/


    //text-align:center;
    letter-spacing:1.5px;
    line-height:37px;
    font-weight:bold;
    color: #eee; // rgb(227, 4, 80);  CoM Pop Magenta //#eee;

}
#caption h1 {
    /* -webkit-text-stroke: 1px black;
    text-shadow:
       1px 1px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
    */

}


#logo {
    display:none; // we'll show it only on the front page now
    background-image:url(../images/com-masterlogo.svg);
    width: 140px;
    height:40px;
    position: absolute;
    bottom:32px;
    right: 40px;
    background-size:cover;
}

/*
For very small screens. This isn't a real target for this app, but useful for demos.
Mostly, just trying to move the overlays out of the way.
*/
@media only screen and (max-width: 768px), 
    only screen and (max-height: 600px){
    #caption {
        top: 0;
        padding:0;
    }
    #caption h1 {
        font-size: 20px;
        line-height:20px;
    }
    #footer {
        bottom: 4px;
        // left: 0;
         // margin-left:0;
         // padding-left:0;
    }
    #logo {
        right:12px;
        bottom:12px;
        width: calc(0.75 * 140px);
        height: calc(0.75 * 40px);
    }

    #footer .url {
        font-size: 20px;
    }
    #footer .dataset {
        font-size: 12px;
        line-height:12px;
    }

    #footer .dataset, #footer .url {
        max-width: 60vw;
        margin-left:4px;
    }


}


#source {
    font-size:0.75em;
}



#features {
    font-size:12px;
    td {
        padding: 0.25em 0.75em;
        line-height:1rem;
    }
    table {
      border-collapse: collapse;
      width: 100%;
    }
    table td, table th {
      @if $scheme == 'light' {
        border: 1px solid #eee;
      } @else {
        border: 1px solid #ddd;
      }
    }
    table tr:first-child th {
      border-top: 0;
    }
    table tr:last-child td {
      border-bottom: 0;

    }
    table tr td:first-child,
    table tr th:first-child {
      border-left: 0;
      width:120px;
    }
    table tr td:last-child,
    table tr th:last-child {
      border-right: 0;
    }
}

#features .enum-field, 
#features .numeric-field {
    cursor: pointer;
    color: #00a;
}

#features .enum-field:hover, 
#features .numeric-field:hover {
    background:#bbb;
}

#features h4 {
    //font-family:sans-serif;
    margin: 1em 0.5em 0.25em;
}

#legends {
    position: absolute;
    top: 10px;
    right: 10px;
}
.legend {
    @if scheme == 'light' {
        background: rgba(255,255,255,0.8);
    } @else {
        background: #eee;
    }
    border: 1px solid grey;
    padding:4px;
    max-width:200px;
}

.legend h3 {
    font-size: 14px;
}

.legend .box {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right:5px;
    margin-top:2px;
    border: 1px solid #777;
    border-radius: 6px;

}   

.legend .circle {
    display: inline-block;
    background: lightblue;
    border: 1px solid #333;
    margin-right:10px;
}

.legend label {
    vertical-align: top; // really want middle somewhere but this looks ok
    color:#444;
    font-size:12px;
}

.legend .close {
    background:#eee;
    cursor: pointer;
    text-align: right;
    font-size:12px;
    margin-bottom:1em;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
    background:grey;
}