/* -----------------------------------------------------------------------------
   Generic styles.
   -------------------------------------------------------------------------- */
:root {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    background-color: inherit;
    border-color: inherit;
    box-sizing: inherit;
}


